<h1>Abuela Sorda</h1>

<% if @words == @words.upcase %>
  <h1>Ahhh si, manzanas!</h1>
<% else %>
  <h1>Habla más duro mijito</h1>
<% end %>

<form action="/">
  <label for="">Di algo Abuela:</label>
  <input type="text" name="words">
  <input type="submit" value="Dilo!">
</form>
